<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>

  <form [formGroup]="quantityForm" (ngSubmit)="onSubmit(quantityForm.value, product)">
    <div>
      <label for="quantity">
        Quantity
      </label>
      <input id="quantity" type="number" formControlName="quantity" min="1" max="12" style="width: 4em;" />
    </div>
    <button class="button" type="submit">Add to Cart</button>
  </form>
</div>