<h3>Cart ID:{{ cart.id }}</h3>

<table class="table" >
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let item of cart.items">
      <td>{{ productMap.get(item.productId).name }}</td>
      <td>{{ item.price | currency }}</td>
      <td><input id="quantity" type="number" value="{{ item.quantity }}" min="1" max="12" style="width: 4em;" (change)="updateCartItem(item, $event)" /></td>
      <td>
        <button class="button fancy-button" (click)="removeFromCart(item)"><i class="material-icons">delete</i></button>
      </td>
    </tr>
</table>

<a [routerLink]="['/checkout']" class="button fancy-button"><i class="material-icons">payment</i>Checkout</a>
